.GridWrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap:1px;
    background-color: #404040;
}
.CallWrapper{
    min-width: 140px;
    min-height: 80px;
    color:#DDDCDD;
}
.DayWrapper{
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}