/* CalendarGrid */
.GridWrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
    grid-gap:1px;
    color:#DDDCDD;
}
.CallWrapper{
    min-width: 120px;
}
.DayWrapper{
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.DayWrapper div {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 50%;
}
.CurraentDAY{
    
}

/* CalendarTopBar */
.DivWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1f21;
    color: #DDDCDD;
    padding: 16px;
}
.ButtonWrapper > button{
    border: unset;
    background-color: #565759;
    color: #DDDCDD;
    height: 20px;
    margin-right:2px;
    border-radius: 4px;
    outline: unset;
    cursor: pointer;
}
.ButtonWrapper .ToDayBatton{
    padding:0 16px;
}
.TextWrapper span{
    font-size: 32px;
    margin-right: 8px;
}

/* CalendarTitle */
.CalendarTitle{
    background-color: #2a2b2d;
    height: 36px;
}